= form_for [:admin, @admin_sub_category] do |f|
  - if @admin_sub_category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_sub_category.errors.count, "error")} prohibited this admin_sub_category from being saved:"
      %ul
        - @admin_sub_category.errors.full_messages.each do |msg|
          %li= msg
  %p Название:
  = f.text_field :name
  %p Категория-родитель:
  = f.collection_select :category_id, Category.all, :id, :name
  %p Ссылка в адресе (slug)
  = f.text_field :slug

  .actions
    = f.submit 'Save'
