%h1 Управление подкатегроиями

%table
  %thead
    %tr
      %th= t '.name'
      %th= t '.category'
      %th= t '.slug'
      %th
      %th
      %th

  %tbody
    - @admin_sub_categories.each do |admin_sub_category|
      %tr
        %td= admin_sub_category.name
        %td= admin_sub_category.category&.name
        %td= admin_sub_category.slug
        %td= link_to 'Показать', admin_sub_category_path(admin_sub_category)
        %td= link_to 'Редактировать', edit_admin_sub_category_path(admin_sub_category)
        %td= link_to 'Уничтожить', admin_sub_category_path(admin_sub_category), :method => :delete, :data => { :confirm => 'Прям точно?' }

%br

= link_to 'Создать новую подкатегорию', new_admin_sub_category_path
