%p#notice= notice

%p
  Название:
  = @admin_sub_category.name
%p
  Категория-родитель:
  = @admin_sub_category.category&.name
%p
  Именная ссылка:
  = @admin_sub_category.slug

= link_to 'Edit', edit_admin_sub_category_path(@admin_sub_category)
\|
= link_to 'Back', admin_sub_categories_path
