.main-block
  .main-block__side-bar
    %ul
      %li
        .main-block__side-bar__btn= link_to 'Цитрусы', '#'
      %li
        .main-block__side-bar__btn= link_to 'Просто трусы', '#'
      %li
        .main-block__side-bar__btn= link_to 'Шоколад', '#'
      %li
        .main-block__side-bar__btn= link_to 'Памперсы', '#'
      %li
        .main-block__side-bar__btn= link_to 'Вёдра', '#'

  .main-block__message
    %h1 Газджет
    %p Опт и розница. От ведра до удочки.
    



  .main-block__content
