= form_for([:admin, @category], html: { multipart: true }) do |f|
  - if @category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - @category.errors.full_messages.each do |msg|
          %li= msg
  %p Название
  = f.text_field :name
  %p Подзаголовок (короткое описание)
  = f.text_field :subtitle
  %p Ссылка в адресе (slug)
  = f.text_field :slug
  %p Категория-родитель
  = f.collection_select :category_id, Category.all, :id, :name, include_blank: 'Не выбирай здесь ничего если хочешь создать топ категорию'
  %p Картинка
  = f.file_field :image_file, accept: 'image/*'

  .actions
    = f.submit 'Save'
