%h1 Категории товаров

%table
  %thead
    %tr
      %th= t '.image'
      %th= t '.name'
      %th= t '.slug'
      %th
      %th

  %tbody
    - @resources.each do |category|
      %tr
        %td
          = link_to [:admin, category] do
            - if category.image
              = image_tag category.image.url, class: 'image__small'
            - else
              = 'Изображения нет'
        %td= category.name
        %td= category.slug
        %td= link_to 'Редактировать', edit_admin_category_path(category)
        %td= link_to 'Убить', admin_category_path(category), :method => :delete, :data => { :confirm => 'Точняк?' }

%br

= link_to 'Создать новую категорию товаров', new_admin_category_path
