.resource
  %p#notice= notice

  %p
    Название:
    = @resource.name
  %p
    Cсылка:
    = @resource.slug

  %p
    Изображние
    .resource__images
    - if @resource.images.any?
      .resource__images__item
      = image_tag @resource.image.url, class: 'resource__images__item__image'
    - else
      %p Изображение не загружено


  - if @resource.children.any?
    %ul
      Подкатегории:
      - @resource.children.each do |sub_category|
        %li= link_to sub_category.name, admin_category_path(sub_category)

  = link_to 'Редактировать', edit_admin_category_path(@resource)
  \|
  = link_to 'Назад', admin_categories_path
