= form_for([:admin, @resource], html: { multipart: true }) do |f|
  - if @resource.errors.any?
    #error_explanation
      %h2= "#{pluralize(@resource.errors.count, "error")} prohibited this admin_product from being saved:"
      %ul
        - @resource.errors.full_messages.each do |msg|
          %li= msg
  %p Название товара
  = f.text_field :name

  - if %(update edit).include? action_name
    %p Артикул
    = f.text_field :stock_number

  %p Ссылка в адресе (slug)
  = f.text_field :slug

  %p Цена
  = f.text_field :price

  %p Вес
  = f.text_field :weight

  %p Описание
  = f.text_area :description

  %p Изображения
  = f.fields_for(:images, include_id: false, class: 'resource__form__images') do |images_form|
    .resource__form__images__item.trashable
      - if images_form.object.filename
        = image_tag images_form.object.url, class: 'resource__form__images__item__image'
        = link_to '', admin_image_url(images_form.object.id), method: :delete, class: 'icon icon-trash'
      - else
        Добавить изображение
        = images_form.file_field :file, accept: 'image/*'

  %p Категория
  = f.collection_select :category_id, Category.all, :id, :name

  %p Производитель
  = f.collection_select :producer_id, Producer.all, :id, :name

  .actions
    = f.submit 'Save'
