.resource
  %p#notice= notice

  %p
    Название:
    = @resource.name
  %p
    Cсылка:
    = @resource.slug
  %p
    Категория:
    = @resource.category.name
  %p
    Производитель
    = @resource.producer.name
  %p
    Вес:
    = @resource.weight
  %p
    Описание:
    = @resource.description

  %p
    Изображния
    .resource__images
    - if @resource.images.any?
      - @resource.images.each do |image|
        .resource__images__item
        = image_tag image.url, class: 'resource__images__item__image'
    - else
      %p Изображения не загружены

  %br

  = link_to 'Редактировать', edit_admin_product_path(@resource)
  \|
  = link_to 'Ко списку товаров', admin_products_path
