%p#notice= notice

%p
  Название:
  = @product.name
%p
  Cсылка:
  = @product.slug
%p
  Категория:
  = @product.category.name
%p
  Производитель
  = @product.producer.name
%p
  Вес:
  = @product.weight
%p
  Описание:
  = @product.description

= image_tag @product.image_url, alt: "Картинка - #{@product.name}"
%br

= link_to 'Редактировать', edit_admin_product_path(@product)
\|
= link_to 'Ко списку товаров', admin_products_path
