%h1 Все категории товаров

%table
  %thead
    %tr
      %th= t '.name'
      %th= t '.slug'
      %th

  %tbody
    - @categories.each do |category|
      %tr
        %td= category.name
        %td= category.slug
        %td= link_to 'Show', category

%br
