.show-category
  .category_block
    = link_to 'Back', root_path, class: 'link link_back icon-left'
    %p.category-count= "Товаров в категории: #{@products.count}"
    %h1
      = @category.name
      %small= @category.subtitle

    .list-render-options_block
      .sort-order= link_to 'Сортировать по релевантности', '#'

  %ul.products_block= render @products
