%footer.footer{id: 'footer', data: { "turbolinks-permanent": true } }
  .footer__inner
    %ul.footer__col.footer__col_first
      %li= link_to 'Категории товаров', '#'
      %li= link_to 'Контакты', contacts_path
      %li= link_to 'Товары по акции', '#'
      %li.mobile-only= link_to 'Контакты', '#'

    .footer__col.footer__col_second
      %h5.footer-col__title Адрес
      %a.footer-col__magic.icon.icon-location{ href: 'https://yandex.ru/maps/65/novosibirsk/?source=serp_navig&ncrnd=5749&ll=82.972630%2C55.020368&z=16&mode=search&whatshere%5Bpoint%5D=82.999000%2C55.052087&whatshere%5Bzoom%5D=18&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fll%3D82.973%252C55.020%26spn%3D0.001%252C0.001%26text%3D%25D0%25A0%25D0%25BE%25D1%2581%25D1%2581%25D0%25B8%25D1%258F%252C%2520%25D0%259D%25D0%25BE%25D0%25B2%25D0%25BE%25D1%2581%25D0%25B8%25D0%25B1%25D0%25B8%25D1%2580%25D1%2581%25D0%25BA%252C%2520%25D1%2583%25D0%25BB%25D0%25B8%25D1%2586%25D0%25B0%2520%25D0%259D%25D0%25B8%25D0%25BA%25D0%25B8%25D1%2582%25D0%25B8%25D0%25BD%25D0%25B0%252C%2520112%25D0%2590%25D0%25BA1%2520', target: :_blank }
        %span.address__text
          %span.address__city Главный офис и склад
          %span.address__street г. Новосибирск, ул. Никитина 112а, корпус 1
      %a.footer-col__magic.icon.icon-location{ href: 'https://yandex.ru/maps/?source=serp_navig&ncrnd=5749&ll=82.945876%2C54.919818&z=16&mode=whatshere&whatshere%5Bpoint%5D=82.945962%2C54.920856&whatshere%5Bzoom%5D=16', target: :_blank }
        %span.address__text
          %span.address__city Склад на левом берегу
          %span.address__street НСО, Советское шоссе, п. Элитное, ул. Липовая 4А

    .footer__col.footer__col_third
      %h5.footer-col__title Контакты
      %p.footer-col__p
        %span= link_to 'michael@gasjet.ru', 'mailto:michael@gasjet.ru'
        %span
          Тел.:
          %a.footer__tel-link{:href => "tel:+79139162055"} +7 (913) 916 20 55
      %p.footer-col__p
        %span= link_to 'info@gasjet.ru', 'mailto:info@gasjet.ru'
        %span
          Тел.:
          %a.footer__tel-link{:href => "tel:+73832039661"} +7 (383) 203 96 61
      %p.footer-col__p
        %span= link_to 'sales@gasjet.ru', 'mailto:sales@gasjet.ru'
        %span
          Тел.:
          %a.footer__tel-link{:href => "tel:+79831280265"} +7 (983) 128 02 65

  %ul.social-icons.social-icons_footer
    %li= link_to '', 'https://github.com/gafrom/fiddle', class: 'icon-github-circled'

  %p.footer__copyrights © 2017 ООО "Газджет"
