- if controller.kind_of? AdminController
  = render 'admin/layouts/header'
- else
  %body
    %header.header
      .header__inner
        .header__hamburger.icon.icon-menu
        %h1.header__logo= link_to 'GasJet LLC', root_path, class: 'logo-picture'

        .header__menu
          .header__menu-content
            .header__menu-content_auth
              %ul
                - unless signed_in?
                  %li= link_to 'Вход', admin_root_path, title: 'Для зарегистрированных пользователей'
                  %li= link_to 'Регистрация', new_user_registration_path, title: 'Зарегистрировать новую учётную запись'
            .header__menu-content_menu-inner
              %ul
                %li= link_to 'Оптовикам', '#', title: 'Предложения для оптовиков'
                %li= link_to 'Розница', '#', title: 'Предложения для оптовиков'
                %li= link_to 'История', '#', title: 'Предложения для оптовиков'
                %li= link_to 'Контакты', contacts_path, title: 'Предложения для оптовиков'
          .header__menu-shorthands
            %ul
              %li.icon-search
              %li.icon-basket-1
