%p= @product.name
%p
  Категория:
  = @product.category.name
%p
  Производитель
  = @product.producer.name
%p
  Вес:
  = @product.weight
%p
  Описание:
  = @product.description

= image_tag @product.image_url, alt: "Картинка - #{@product.name}"
