.product.container
  = link_to 'Back', :back, class: 'link link_back icon-left'
  .product__inner.twelve.columns
    .two-thirds.column
      = image_tag @product.image.url, alt: @product.name, class: 'product_image'
      - @product.images[1..-1].each do |image|
        = image_tag image.url, alt: "#{@product.name} - #{image.original_filename}", class: 'product_image_preview'
    .one-third.column
      .product_info
        %p.product_info__item.product_info__item_title= @product.name

        - if @product.producer&.name.present?
          %label.product_info__label Производитель
          %p.product_info__item.product_info__item_manufacturer= @product.producer.name

        - if @product.weight.present?
          %label.product_info__label Вес
          %p.product_info__item.product_info__item_weight= @product.weight

        - if @product.description.present?
          %p.product_info__item.product_info__item_description= @product.description
