.product.container
  = link_to 'Back', :back, class: 'link link_back icon-left'
  .product__inner.twelve.columns
    .one-half.column
      #owl-main.owl-carousel.owl-theme
        - @product.images.each do |image|
          %div= image_tag image.url, alt: "#{@product.name} - #{image.original_filename}", class: 'product_image_preview'
      #owl-bar
        - @product.images.each_with_index do |image, i|
          %div{class: ('active' if i == 0)}= image_tag image.url

    .one-half.column
      .product_info
        %p.product_info__item.product_info__item_title= @product.name

        %label.product_info__label Артикул
        %p.product_info__item= @product.pretty_stock_number

        - if @product.price.present?
          %label.product_info__label Цена
          %p.product_info__item.product_info__item_price= number_to_currency @product.price

        - if @product.producer&.name.present?
          %label.product_info__label Производитель
          %p.product_info__item.product_info__item_manufacturer= @product.producer.name

        - if @product.weight.present?
          %label.product_info__label Вес
          %p.product_info__item.product_info__item_weight= @product.weight

        - if @product.description.present?
          %p.product_info__item.product_info__item_description= @product.description
