%footer.footer{id: 'footer', data: { "turbolinks-permanent": true } }
  .footer__inner
    %ul.footer__col.footer__col_first
      %li= link_to 'Категории товаров', '#'
      %li= link_to 'Контакты', contacts_path
      %li= link_to 'Товары по акции', '#'
      %li.mobile-only= link_to 'Контакты', '#'

    .footer__col.footer__col_second
      %h5.footer-col__title Адрес
      %a.footer-col__magic.icon-flag-checkered{ href: "mailto:2922055@gmail.com?SUBJECT=hello&BODY=Michael" }
        %span.address__text
          %span.address__city г. Новосибирск
          %span.address__street Улица такая-то
      %a.footer-col__magic.icon-award{:href => "tel:+79139162055"}
        %span.address__text
          %span.address__city Позвонить
          %span.address__street Обсудить условия предложения

    .footer__col.footer__col_third
      %h5.footer-col__title Контакты
      %p.footer-col__p
        %span= link_to '2922055@gmail.com', 'mailto:2922055@gmail.com'
        %span
          Тел.:
          %a.footer__tel-link{:href => "tel:+79139162055"} +7 (913) 916 20 55

  %ul.social-icons.social-icons_footer
    %li= link_to '', 'https://github.com/gafrom/fiddle', class: 'icon-github-circled'

  %p.footer__copyrights © 2016 GasJet
